@import url("https://fonts.googleapis.com/css?family=Raleway:400:600|Source+Sans+Pro");
body {
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

table td strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; }

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f4f4f8;
  background-color: #c6dfed; }

.swatch-box {
  position: absolute;
  top: 300px; }

.swatch {
  height: 100px;
  width: 100px; }

.blue {
  background-color: #94c3de; }

.black {
  background-color: #333533; }

.off-white {
  background-color: #f4f4f8; }

.gray {
  background-color: #b9b9b9; }

.light-blue {
  background-color: #c6dfed; }
