@import url("https://fonts.googleapis.com/css?family=Raleway:400:600|Source+Sans+Pro");
body {
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

table td strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; }

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f4f4f8;
  background-color: #c6dfed; }

