@import "bootstrap-sass-3.4.1/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:400:600|Source+Sans+Pro');

$blue: #94c3de;
$black: #333533;
$off-white: #f4f4f8;
$gray: #b9b9b9;
$light-blue: #c6dfed;

body {
	font-family: 'Source Sans Pro', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}


table { 

	td {
		strong {
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
		}
	}
}

.table-striped {		
	> tbody{

		> tr:nth-child(odd) {
			background-color: $light-blue;
		}

	}	
}


.navbar {
	height: 100px;
}

.navbar-brand {
	padding: 0;
	img {
		max-height: 100px;

	}
}

.navbar-nav {
	> li {
	 	padding-top: 0;
	 	padding-bottom: 0;
			 a {
				padding-bottom: 0;
				padding-top: 0;		   
				line-height: 100px;
				&:hover {
					padding-top: 0;
					padding-bottom:0;
				}
			} 
	}
}	

.navbar-form {
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 0;

}

.dropdown-menu {
	> li > a:hover {
		background-color: #e7e7e7;
	}
	> li > a:focus {
		background-color: #e7e7e7;
	}
}
